[package]
name = "beamium"
version = "1.7.1"
authors = [ "d33d33 <kevin.georges@corp.ovh.com>" ]

build = "build.rs"

[dependencies]
bytes = "0.4"
clap = "2.29.0"
yaml-rust = "0.4.0"
cast = "0.2.2"
nix = "0.7.0"
time = "0.1.35"
hyper = "0.11.18"
hyper-tls = "0.1.2"
hyper-timeout = "0.1"
futures = "0.1"
tokio-core = "0.1"
regex = "0.2.5"
slog-async = "2.2.0"
slog-term = "2.3.0"
slog-stream = "1.2.0"
slog-scope = "4.0.1"
slog-syslog = "0.11.0"
flate2 = "1.0.1"
ctrlc = "3.0"
tokio-timer="0.1"

[dependencies.slog]
version = "2.1"
features = ["release_max_level_debug", "max_level_debug"]
