[Unit]
Description=beamium
After=network.target

[Service]
EnvironmentFile=-/etc/default/beamium
ExecStart=/usr/bin/beamium --config=/etc/beamium/config.yaml
Restart=on-failure
User=beamium
Group=beamium

[Install]
WantedBy=multi-user.target
